<div class="container">

  <h2>Hey <%= current_user.username %></h2>

  <p><%= link_to "Change your password/update info", edit_user_registration_path, id: "edit_user_link_profile_page" %></p>

</div>